 {
     "presets": [
         ["env",{ "modules": false }]
     ]
    
    //  "plugins": [  ,"react"
    //      [  "transform-class-properties",
    //          "transform-es2015-classes", {
    //              "loose": true
    //          }
    //      ]
    //  ]
 }